html{
    height: 100%;
}

header {
    margin: 8px;
    display: flex;
    flex: 1;
    background-color:#232D36;
    flex-direction: row;
    justify-content: space-evenly;  
}

main {
    display:flex;
    flex: 8;
    margin: auto 8px;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: auto;
    color:#232D36;
}

footer {
    display: flex;
    flex: 1;
    justify-content: center;
}

ul {
    width: 20rem;
    margin-left: 16px;
    list-style-type: none;
    flex-direction: row;
    justify-content: space-evenly;
}

h1 {
    color: #9DA2A8;
    font-size: 1.25rem;
}

a {
    color: #9DA2A8;
    text-decoration: none;
}

table {
    width: 100%;
}

td {
    border: 1px solid #232D36;
}

input {
    display: block;
    font-size: 1rem;
    line-height: 1.25;
    padding: 0.625rem;
    margin-bottom: 8px;
}

input[type="submit"] {
    background-color: #0DA698;
    border: 1px solid #0DA698;
    border-radius: 0.325rem;
}